<div class="container-fluid home-card">
    <div class="row py-2">
        <div class="col-3"> <img src="../../../assets/images/profile.jpg" alt="Profile Picture"
                class="profile-pic"></div>
        <div class="col-9">
            <h1>Hi, I am a</h1><span class="dynamic-text">{{ dynamicText }} </span>Developer
            <hr>
        </div>
    </div>
    <div class="row">

        <div class="col-3">
            Deepak Manoj Kumar
        </div>
        <div class="col-9">
     
            <p>{{ homeIntroduction }}</p>
        </div>

    </div>
</div>