<div class="card container-fluid mt-5 align-items-center">
    <div class="lines"></div>
    <div class="card-content">
        <img src="../../../assets/images/profile.jpg" alt="Profile Picture" class="profile-pic">
        <div class="name">Deepak</div>
        <div class="description">{{homeIntroduction}}</div>

        <div class="social-buttons">
            <a href="https://www.linkedin.com/in/deepakmanoj" class="social-button linkedin" target="_blank">
                <i class="fab fa-linkedin"></i> LinkedIn
            </a>
            <a href="https://github.com/deepakdmk" class="social-button github" target="_blank">
                <i class="fab fa-github"></i> GitHub
            </a>
        </div>
    </div>
</div>