<div class="timeline">
    <div class="container left-container">
        <img src="../../../assets/images/brand.svg">
        <div class="text-box">
            <h2>Alphabet</h2>
            <small>2018-2022</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo in, adipisci temporibus reiciendis, id
                expedita ex voluptatem quo eum aspernatur, enim placeat debitis quia distinctio hic voluptate. Ipsa,
                asperiores quidem?</p>
        </div>
    </div>

    <div class="container right-container">
        <img src="../../../assets/images/brand.svg">
        <div class="text-box">
            <h2>Alphabet</h2>
            <small>2018-2022</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo in, adipisci temporibus reiciendis, id
                expedita ex voluptatem quo eum aspernatur, enim placeat debitis quia distinctio hic voluptate. Ipsa,
                asperiores quidem?</p>
        </div>
    </div>

    <div class="container left-container">
        <img src="../../../assets/images/brand.svg">
        <div class="text-box">
            <h2>Alphabet</h2>
            <small>2018-2022</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo in, adipisci temporibus reiciendis, id
                expedita ex voluptatem quo eum aspernatur, enim placeat debitis quia distinctio hic voluptate. Ipsa,
                asperiores quidem?</p>
        </div>
    </div>

    <div class="container right-container">
        <img src="../../../assets/images/brand.svg">
        <div class="text-box">
            <h2>Alphabet</h2>
            <small>2018-2022</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo in, adipisci temporibus reiciendis, id
                expedita ex voluptatem quo eum aspernatur, enim placeat debitis quia distinctio hic voluptate. Ipsa,
                asperiores quidem?</p>
        </div>
    </div>
</div>