
<div class="timeline">
    <div *ngFor="let item of timelineItems; let i = index"
        [ngClass]="i % 2 === 0 ? 'container-nonbootstrap left-container' : 'container-nonbootstrap right-container'">
        <img [src]="item.image" alt="{{ item.title }}">
        <div class="text-box">
            <h2>{{ item.title }}</h2>
            <small>{{ item.date }}</small>
            <p>{{ item.description }}</p>
            <span *ngIf="i % 2 === 0" class="left-container-arrow"></span>
            <span *ngIf="i % 2 !== 0" class="right-container-arrow"></span>
        </div>
    </div>
</div>